.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 6rem 6rem;
  min-height: 100vh;
}

.inputsContainer {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1100px) {
  .main {
    padding: 80px 2rem 2rem;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .main {
    padding: 80px 1rem 1rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}